/* global */

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-LightItalic.eot');
    src: url('../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Italic.eot');
    src: url('../fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Italic.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Thin.eot');
    src: url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html body {
    overflow-x: hidden;
    background-color: #fff;
}

body * {
    font-family: 'HelveticaNeueCyr';
}

body .article-page {
    color: #000;
    position: relative;
}

body h1, body h2, body h3 {
    font-weight: 400;
}

body .main {
    border-radius: 20px;
}

.main-raised {
    margin-right: 0px;
    margin-left: 15px;
    position: relative;
}

.sidebar {
    padding-right: 30px;
}

.bg-blue {
    background-color: #c9f1fd;
}

.btn-vk {
    background-color: #4a76a8;
    border-color: #4a76a8;
}
.btn-fb {
    background-color: #3b5998;
    border-color: #3b5998;
}
.btn-google {
    background-color: #EA4335;
    border-color: #EA4335;
}

body .btn.btn-more {
    background-color: #ffa835;
    border-color: #ffa835;
}

.shadow {
    position: relative;
}

.shadow::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: 0px -2px 15px 2px rgba(0, 0, 0, .5);
    z-index: -1;
}

.map-container {
    width: calc(100% + 60px);
    height: 100vh;
    display: flex;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 15px;
}

body .article-page .btn-map {
    position: fixed;
    top: 40px;
    z-index: 101;
    right: 20px;
}

.modal .modal-dialog {
    margin-top: 30px;
}

.modal-map .modal-content {
    height: 80vh;
}

.modal-map .close {
    position: absolute;
    top: 100%;
    width: 30px;
    left: calc(50% - 15px);
    opacity: 1;
    color: #fff;
    font-size: 70px;
    z-index: 1;
}

body .btn-go-top {
    position: fixed;
    bottom: 40px;
    z-index: 101;
    right: 20px;
    display: none;
}

.blue-line .col-12 {
    margin-top: 2px;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #6faad8 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.img-container {
    position: relative;
    padding-bottom: 50%;
}

.img-container .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* article-page */

.header-carousel {
    margin-left: -15px;
}

.header-carousel .carousel-item {
    height: 500px;
}

.header-carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-header {
    position: absolute;
    bottom: calc(100% - 40px);
}

.article-title {
    color: #fff;
    font-size: 42px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.countries .dropdown {
    display: inline;
}

.countries .dropdown-item:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.35);
    background-color: #ff9800;
}

.countries .badge {
    background-color: #52bb52;
    line-height: 11px;
}

.countries .badge:hover {
    color: #fff;
}

.countries .dropdown .badge:active,
.countries .dropdown .badge {
    color: #fff;
}

.countries.countries--bottom {
    margin-bottom: 15px;
}

.article-info {
    padding-bottom: 60px;
}

.author-avatar-container {
    width: 120px;
    padding-bottom: 100%;
    position: relative;
    background-color: #929292;
    border-radius: 50%;
    transition: .3s;
}

.author-avatar-container:hover {
    transform: scale(1.1);
}

.author-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.star-rating {
    color: #c7c7c7;
    line-height: 20px;
}

.star-rating .material-icons {
    border-radius: 10px;
    color: #d6d6d6;
    vertical-align: top;
    font-size: 20px;
}

.star-rating.star-rating--bottom .material-icons {
    background: #f0f0f0;
    background: -moz-radial-gradient(center, ellipse cover, #f0f0f0 0%, #c9f1fd 60%);
    background: -webkit-radial-gradient(center, ellipse cover, #f0f0f0 0%, #c9f1fd 60%);
    background: radial-gradient(ellipse at center, #f0f0f0 0%, #c9f1fd 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#c9f1fd', GradientType=1);

}

.star-rating.star-rating--top .material-icons {
    background: #f0f0f0;
    background: -moz-radial-gradient(center, ellipse cover, #f0f0f0 0%, #ffffff 60%);
    background: -webkit-radial-gradient(center, ellipse cover, #f0f0f0 0%, #ffffff 60%);
    background: radial-gradient(ellipse at center, #f0f0f0 0%, #ffffff 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=1);
}

.star-rating .material-icons.active {
    color: #ffa835;
}

.star-rating.star-rating--top {
    padding: 15px 0px;
}

.star-rating.star-rating--bottom {
    color: #c1c4c5;
    display: inline;
}

.b-crumbs {
    display: inline;
}

.b-crumbs a {
    color: #606060;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
}

.b-crumbs a:first-child {
    margin-left: 0px;
}

.b-crumbs a:last-child {
    margin-right: 0px;
}

.author-name a {
    display: block;
    width: 120px;
}

.article-content a,
.article-content__title,
.star-rating,
.author-name,
.b-crumbs,
.article-views {
    font-size: 16px;
}

.author-name a:hover,
.author-name a,
.b-crumbs,
.article-views {
    color: #606060;

}

.article-views .material-icons {
    vertical-align: top;
}

.preview-text {
    margin-top: 20px;
    margin-bottom: 15px;
    font-style: italic;
}

.preview-img {
    width: 100%;
}

.article-content {
    margin-bottom: 15px;
}

.article-content__title {
    padding: 15px 0px;
}

.article-content__list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.article-content__list a {
    text-decoration: underline;
    color: #1464f6;
}

.article-content__list a::before {
    content: "* ";
}

.article-content__list ul {
    list-style: none;
}

.article-content__list ul a::before {
    content: "- ";
}

.detail-text {
    margin-bottom: 30px;
}

.detail-text h3 {
    font-size: 28px;
    line-height: 28px;
}

.detail-text h2,
.detail-text h3 {
    margin-top: 0px;
    line-height: 1;
    margin-bottom: 15px;
}

.preview-text,
.detail-text p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
}

.detail-text img {
    width: 100%;
    margin-bottom: 15px;
}

.article-tags {
    margin-bottom: 30px;
}

.article-tags a {
    color: #000;

}

.article-tags .tag-item {
    margin-right: 10px;
    color: #606060;
}

.article-tags .dropdown {
    display: inline;
}

.article-tags .tag-item:last-child {
    margin-right: 0px;
}

.article-socials {
   margin: 30px 0px;
}

.article-socials .btn.btn-sm .fa.fa-vk {
    margin-top: -20px;
}

.article-socials .article-socials__title {
    margin-bottom: 5px;
    color: #444;
    line-height: 1;
    font-size: 20px;
}

.article-author .author-avatar-container {
    width: 60px;
    margin: -18px 0px;
}

.article-author .block-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.article-author .author-name {
    font-weight: 400;
}

.read-more {
    margin-bottom: 30px;
}

.read-more .read-more-item {
    margin-bottom: 15px;
}

.read-more .item-img-container {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    margin-bottom: 15px;
}

.read-more .item-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, .3);
}

.read-more .item-tag {
    text-transform: capitalize;
    margin-bottom: 5px;
    width: fit-content;
    padding: 0px 15px;
    border-radius: 20px;
}

.read-more .item-tag a {
    color: #fff;
}

.read-more .item-tag.blue {
    background-color: #71abdd;
    color: #fff;
}

.read-more .item-tag.green {
    background-color: #52bb52;
    color: #fff;
}

.read-more .item-tag.orange {
    background-color: orange;
    color: #fff;
}

.read-more .item-country {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.read-more .item-country a {
    color: #000;
}

.read-more .item-title {
    font-size: 20px;
}

.read-more .item-title a {
    color: #000;
}

.read-more .ads-container--no-ads {
    padding: 44% 20px;
    margin-bottom: 15px;
}

.article-comments {
    margin-bottom: 30px;
}

.news-block .news-block__title,
.read-more__title,
.article-comments__title {
    color: #444;
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 2px solid #909090;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 5px;
    line-height: 30px;
    font-weight: 400;
}

.article-comments__title span {
    color: #c0c0c0;
}

.comments-list {
    list-style: none;
    padding-left: 0px;
}

.comments-list--lvl-1 {
    margin-left: 60px;
}

.comments-list--lvl-2 {
    border-left: 2px solid #c8c8c8;
    padding-left: 30px;
    margin-left: 57px;
}

.comment-item {
    margin-bottom: 15px;
}

.comment-item .btn-info {
    background-color: #6faad8;
    border-color: #6faad8;
}

.comment-item .comment-avatar-container {
    position: relative;
    width: 40px;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: #606060;
    margin-bottom: 30px;
}

.comment-item .comment-avatar-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.comment-item .comment-text {
    padding-top: 8px;
    min-height: 35px;
}

.comment-item .comment-controls .btn-rating {
    cursor: pointer;
}

.comment-item .comment-controls .btn-rating .material-icons {
    vertical-align: middle;
    color: #7a7a7a;
}

.comment-item .comment-controls .btn-answer {
    padding: 5px 20px;
    margin-left: 10px;
    background-color: #c9f1fd;
    border-color: #c9f1fd;
    color: #000;
}

.comment-item .comment-controls .btn-answer:hover {
    background-color: #6faad8;
    border-color: #6faad8;
    color: #fff;
}

.add-comment .add-comment__title {
    font-size: 20px;
    margin-bottom: 15px;
}

.add-comment .btn-fab .fa {
    font-size: 14px;
}

.add-comment .soc-btns-title {
    font-size: 11px;
    line-height: 1;
}

.sidebar .btn.btn-more {
    font-size: 14px;
    padding: 9px 16px;
}

.article-socials-sidebar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.article-socials-sidebar .icon_ss {
    display: block;
    width: 40px;
    margin: 0px 4px;
    padding: 2px;
    text-align: center;
}

.article-socials-sidebar .icon_ss .fa {
    font-size: 30px;
}

.article-socials-sidebar .icon_ss.inst a {
    color: #eee;
}

.article-socials-sidebar .icon_ss.vk a {
    color: #4a76a8;
}

.article-socials-sidebar .icon_ss.fb a {
    color: #3b5998;
}

.article-socials-sidebar .icon_ss.zen svg {
    border-radius: 8px;
    vertical-align: sub;
    width: 30px;
    height: 30px;
}

.article-socials-sidebar .icon_ss svg g {
    fill: #000;
}

.news-block {
    margin-bottom: 30px;
}

.news-block a {
    color: #606060;
}

.news-block .news-links-list__item {
    margin-bottom: 15px;
    line-height: 1.2;
}

.sidebar-news-block {
    background-color: #c9f1fd;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
}

.sidebar-news-block .news-block__title {
    font-size: 22px;
    font-weight: 300;
    color: #444;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.sidebar-news-block a {
    width: 100%;
    display: block;
    color: #444;
    line-height: 1.2;
}

.sidebar-news-block .news-links-list__item {
    padding: 10px 0px;
    border-bottom: 1px solid #8d8d8d;
}

.sidebar-news-block .news-links-list__item:last-child {
    border-bottom: none;
}

.ads-container {
    margin-bottom: 30px;
}

.ads-container--no-ads {
    background-color: #ebebeb;
    padding: 30% 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}

.ads-container--no-ads.horizontal {
    padding: 50px 20px;
    margin-bottom: 30px;
}

.ads-container--no-ads.vertical {
    padding: 20px;
    height: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ways-page */

.ways-page .ads-container--no-ads {
    border-radius: 0px;
}

.page-top-image {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ways-page .main {
    margin-top: -80px;
    border-radius: 10px;
}

.ways-page .article-header {
    bottom: calc(100% + 30px);
}

.ways-page .article-info {
    padding-bottom: 0px;
}

.ways-page .article-title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 18px;
}

.ways-page .article-title span {
    font-size: 12px;
}

.ways-page .countries {
    padding: 20px 0px;
}

.way-list {
    padding-top: 15px;
}

.way-item {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px 10px;
    margin-bottom: 30px;
}

.way-item .item-carousel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.way-item .item-carousel .carousel-control {
    opacity: 0;
    transition: .2s;
}

.way-item .item-carousel:hover .carousel-control {
    opacity: 1;
}

.way-item .item-carousel .carousel-control::after {
    content: "";
    display: block;
    border-top: 2px solid #fff;
    width: 40px;
    height: 40px;
}

.way-item .item-carousel .carousel-control.carousel-control-prev::after {
    border-left: 2px solid #fff;
    transform: rotate(-45deg) translate(10px, 10px);
    box-shadow: -3px -3px 4px -2px rgba(0,0,0,.5);
}

.way-item .item-carousel .carousel-control.carousel-control-next::after {
    border-right: 2px solid #fff;
    transform: rotate(45deg) translate(-10px, 10px);
    box-shadow: 3px -3px 4px -2px rgba(0,0,0,.5);
}

.way-item .item-carousel .carousel-item,
.way-item .item-carousel .carousel-inner {
    height: 100%;
}

.way-item .item-carousel .carousel-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.way-item .way-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding-left: 10px;
}

.way-item .way-info .material-icons {
    vertical-align: top;
}

.way-item .author {
    margin-top: 20px;
    margin-bottom: 20px;
}

.way-item .avatar {
    width: 34px;
    padding-bottom: 34px;
}

.way-item .name a {
    color: #000;
}

.way-item .way-title {
    color: #000;
    font-size: 36px;
line-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 126px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* media */

@media (min-width: 1200px) and (max-width: 1599.98px) {

    .header-carousel .carousel-item {
        height: 450px;
    }

    .article-title {
        font-size: 32px;
    }

    .star-rating .material-icons {
        font-size: 22px;
    }

    .author-name,
    .b-crumbs,
    .article-views {
        font-size: 15px;
    }

    .article-content a,
    .article-content__title,
    .star-rating,
    .author-name,
    .b-crumbs,
    .article-views {
        font-size: 15px;
    }

    .detail-text h2 {
        font-size: 33px;
        line-height: 33px;
    }

    .preview-text,
    .detail-text p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .news-block .news-block__title,
    .article-comments__title,
    .read-more__title {
        font-size: 25px;
        padding-bottom: 5px;
        line-height: 25px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .header-carousel .carousel-item {
        height: 400px;
    }

    .article-title {
        font-size: 32px;
    }

    .author-name,
    .b-crumbs,
    .article-views {
        font-size: 15px;
    }

    .detail-text h2 {
        font-size: 33px;
        line-height: 33px;
    }

    .preview-text,
    .detail-text p {
        font-size: 18px;
        line-height: 22px;
    }

    .news-block .news-block__title,
    .article-comments__title,
    .read-more__title {
        font-size: 25px;
        padding-bottom: 5px;
        line-height: 25px;
    }

    .read-more .item-tag {
        font-size: 13px;
    }

    .read-more .item-title {
line-height: 21px;        
    }

    .comment-item {
        margin-bottom: 15px;
    }

    .comment-item .comment-text {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .header-carousel .carousel-item {
        height: 320px;
    }

    .article-title {
        font-size: 20px;
    }

    .star-rating .material-icons {
        font-size: 20px;
        line-height: 24px;
    }

    .article-content a,
    .article-content__title,
    .star-rating,
    .author-name,
    .b-crumbs,
    .article-views {
        font-size: 15px;
    }

    .detail-text h2 {
        font-size: 33px;
        line-height: 33px;
    }

    .preview-text,
    .detail-text p {
        font-size: 18px;
        line-height: 22px;
    }

    .detail-text img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-height: 50vh;
    }

    .article-author .author-avatar-container {
        margin: -18px 0px 20px;
    }

    .news-block .news-block__title,
    .article-comments__title,
    .read-more__title {
        font-size: 20px;
        padding-bottom: 5px;
        line-height: 20px;
    }

    .read-more .item-img-container {
        margin-bottom: 0px;
    }

    .read-more .item-tag {
        font-size: 13px;
    }

    .read-more .item-title {
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 84px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        margin-bottom: 5px;
    }

    .read-more .ads-container--no-ads {
        padding: 20% 20px;
        border-radius: 10px;
    }

    .comment-item {
        margin-bottom: 15px;
    }

    .comment-item .comment-text {
        font-size: 15px;
    }

    .comments-list--lvl-1 {
        margin-left: 20px;
    }

    .comments-list--lvl-2 {
        padding-left: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .header-carousel {
        margin-right: -15px;
    }

    .header-carousel .carousel-item {
        height: 320px;
    }

    .main-raised {
        margin-right: 10px;
        margin-left: 10px;
    }

    .article-title {
        font-size: 20px;
    }

    .star-rating .material-icons {
        font-size: 20px;
        line-height: 24px;
    }

    .article-content a,
    .article-content__title,
    .star-rating,
    .author-name,
    .b-crumbs,
    .article-views {
        font-size: 15px;
    }

    .detail-text h2 {
        font-size: 33px;
        line-height: 33px;
    }

    .preview-text,
    .detail-text p {
        font-size: 18px;
        line-height: 22px;
    }

    .detail-text img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-height: 50vh;
    }

    .article-author .author-avatar-container {
        margin: -18px 0px 20px;
    }

    .news-block .news-block__title,
    .article-comments__title,
    .read-more__title {
        font-size: 20px;
        padding-bottom: 5px;
        line-height: 20px;
    }

    .read-more .item-img-container {
        margin-bottom: 0px;
    }

    .read-more .item-img {
        border-radius: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .3);
    }

    .read-more .item-tag {
        font-size: 13px;
    }

    .read-more .item-title {
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 63px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 5px;
    }

    .read-more .ads-container--no-ads {
        padding: 20% 20px;
        border-radius: 10px;
    }

    .comment-item {
        margin-bottom: 15px;
    }

    .comment-item .comment-text {
        font-size: 15px;
    }

    .comments-list--lvl-1 {
        margin-left: 20px;
    }

    .comments-list--lvl-2 {
        padding-left: 20px;
    }
}

@media (max-width: 575.98px) {

    .header-carousel {
        margin-right: -15px;
    }

    .header-carousel .carousel-item {
        height: 320px;
    }

    .author-avatar-container {
        width: 85px;
    }

    .main-raised {
        margin-right: 10px;
        margin-left: 10px;
    }

    .article-title {
        font-size: 20px;
    }

    .star-rating .material-icons {
        font-size: 20px;
        line-height: 24px;
    }

    .star-rating.star-rating--top {
        padding: 11px 0px;
    }

    .article-content a,
    .article-content__title,
    .star-rating,
    .author-name,
    .b-crumbs,
    .article-views {
        font-size: 15px;
    }

    .detail-text h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .detail-text h3 {
        font-size: 25px;
        line-height: 25px;
    }

    .preview-text,
    .detail-text p {
        font-size: 18px;
        line-height: 22px;
    }

    .detail-text img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-height: 50vh;
    }

    .article-author .author-avatar-container {
        margin: 10px 0px;
    }

    .news-block .news-block__title,
    .article-comments__title,
    .read-more__title {
        font-size: 20px;
        padding-bottom: 5px;
        line-height: 20px;
    }

    .read-more .item-img-container {
        margin-bottom: 0px;
    }

    .read-more .item-img {
        border-radius: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .3);
    }

    .read-more .item-tag {
        font-size: 11px;
        line-height: 19px;
    }

    .read-more .item-title {
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 54px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 5px;
    }

    .read-more .item-country {
        font-size: 11px;
    }

    .read-more .ads-container--no-ads {
        padding: 18% 20px;
        border-radius: 10px;
    }

    .comment-item {
        margin-bottom: 15px;
    }

    .comment-item .col {
        padding-left: 5px;
    }

    .comment-item .comment-text {
        padding-top: 13px;
        font-size: 12px;
        line-height: 15px;
    }

    .comment-item .comment-controls .btn-rating .material-icons {
        font-size: 19px;
    }

    .comment-item .comment-controls .btn-answer {
        padding: 3px 13px;
        margin-left: 10px;
        font-size: 10px;
    }

    .comments-list--lvl-1 {
        margin-left: 20px;
    }

    .comments-list--lvl-2 {
        margin-left: 60px;
        padding-left: 15px;
    }

}